In [10]:
from math import sqrt

In [18]:
def tabla_multiplicar(num):
  print("____ Tabla del {} ____ .".format(num))
  for i in range(0,11):
    print ("{} X {} = {}".format(i,num,i*num))

In [19]:
tabla_multiplicar(7)

____ Tabla del 7 ____ .
0 X 7 = 0
1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70